* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/desert.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@font-face {
    font-display: swap;
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/luckiest-guy-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#canvasWrapper {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
}

#startFrame,
#gameOverImage,
#youWon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    border-radius: 8px;
    overflow: hidden;
    transition: opacity 0.5s ease;
    background-color: rgb(0, 0, 0, 0.7);
}

#startFrame.fade-out {
    opacity: 0;
    pointer-events: none;
}

#startFrame img,
#gameOverImage img,
#youWon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#gameOverImage,
#youWon {
    display: none;
}

#gameOverImage img {
    object-fit: contain;
}

#muteIconContainer,
#full,
#home {
    position: absolute;
    top: 16px;
    right: 150px;
    z-index: 20;
    width: 46px;
    height: 46px;
    padding: 14px;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
}

#full {
    right: 90px;
}

#home {
    left: 90px;
    display: none;
}

#fullScreen,
#smallScreen,
#home img {
    width: 30px;
    cursor: pointer;
}

#smallScreen {
    width: 216%;
    cursor: pointer;
}

#muteIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

#startBtn,
#replayBtn {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: 156px;
}

#startBtn button,
#replayBtn button {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #ffc107;
    color: #000;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#replayBtn,
#smallScreen {
    display: none;
}

#startBtn button:hover,
#replayBtn button:hover {
    background-color: #ff9800;
}

#gameKeys {
    position: absolute;
    top: 20px;
    left: 240px;
    font-size: 20px;
    font-weight: bold;
    color: #3b2212;
    z-index: 100;
    text-shadow: 1px 1px white;
    display: none;
}

#landscape-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffc107;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    font-family: 'Luckiest Guy';
}

#landscape-popup img {
    width: 120px;
    margin-top: 20px;
    background-color: #ffc107;
    border-radius: 50%;
}

.left-container,
.right-container,
.up-container,
.throw-container {
    display: none;
    position: absolute;
    z-index: 20;
    width: 46px;
    height: 46px;
    padding: 14px;
    background-color: #ffc107;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
}

.left-container {
    bottom: 12px;
    left: 12px;
}

.left-container img {
    width: 36px;
    margin-right: 4px;
    cursor: pointer;
}

.right-container {
    bottom: 12px;
    left: 66px;
}

.right-container img,
.up-container img {
    width: 36px;
    cursor: pointer;
}

.up-container {
    bottom: 12px;
    right: 66px;
}

.throw-container {
    bottom: 12px;
    right: 12px;
}

.throw-container img {
    width: 30px;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    #canvasWrapper {
        width: 100vw;
        height: 100vh;
    }
}